:root {
  --main-color: #2f80ed;
  --sec-color: #160202;
}

.cv {
  display: flex;
  max-width: 800px;
  flex-direction: column;
  justify-content:  right;
  margin: 0 auto;
  border: 1px solid rgb(106, 179, 139);
  padding: 20px;
  background: #acac8279;
  }

html {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  color: sec-color;
}

h1 {
  color: var(--main-color);
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0.5em;
}

h2 {
  color: var(--sec-color);
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 1em;
}

.li_cont {
  color: rgb(17, 0, 255);
  display: flex;
  min-width: 50px;
  margin-top: 0.4em;
  margin-bottom: 0.25em;
  }

.career {
  color: var(--sec-color);
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 1em;
}

.lang {
  color: var(--sec-color);
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 1em;
}

.code_ex {
  color: var(--sec-color);
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 1em;
}

.tech_skills {
  color: var(--sec-color);
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 1em;
}

.work_expr {
  color: var(--sec-color);
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 1em;
}

.educ {
  color: var(--sec-color);
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 1em;
}
.pers_qual {
  color: var(--sec-color);
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 1em;
}
.pers_inter {
  color: var(--sec-color);
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 1em;
}

.footer {
  color: var(--sec-color);
  font-size: 1em;
  text-align:  center;
  margin-top: 0;
  margin-bottom: 1em;
  border: 1px solid red;
  padding: 10px;
  background: #acac9d;
}
